
/*Resize the wrap to see the search bar change!*/

/*
.one{
  margin-bottom: 100px;
}
.two{
  display:flex;
}
.image{
  position:relative;
  left:-60%;
  transform: scale(1.25);
  
}
.stats{
  position:relative;
  left:-30%;
  background-color: green;
}
.ratings{
  position:relative;
}
*/
.container {
  
  position: fixed;
  top: 20%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  width: 100%;
  
  
  
}
